body {
	background-color: #aaa;
	color: #333;
	font-family: "Vivaldi", "Verdana";
	font-size: 14px;
	padding: 8px 28px 8px 28px;
}


p {
	text-align: justify;
}


figure {
	border: 1px solid black; 
	width: 250px; 
	padding: 10px;
	margin: 0px;
}


img {
	width: inherit;
}


figcaption {
	font-style: italic; 
	text-align: center;
}

audio {
	width: 100%;
}